@charset 'utf-8';
@import '_inc/mixins';
@import '_inc/variables';
body,
input,
button,
textarea {
  font-family: $g-font-family;
  border: none;
  outline: none;
}

.clear {
  @include clearfix;
}

.inline-block {
  @include inline-block(middle);
}
